[2015-10-31 03:25] gdi2290 opened #1 "do you mind giving up z?"
can I have z on npm?

[2015-11-02 08:09] #1 closed

[2015-11-04 13:21] lucasviola opened #2 "When trying to download via npm it bugs"
When I type `npm i --save-dev z` it returns OK but it doesn't download the core module properly. Just the info on the module.

[2015-11-04 16:49] #2 closed

[2015-11-09 06:48] donaldpipowitch opened #3 "Using rest params?"
Nice lib! Docs say

(x, xs) => {} matches array with more than one element. First parameter is the first element (head), second is others (tail)

Couldn't we use rest params to be more precise? If `(x) => {}` matches _a single element_ I'd expect `(x, y) => {}` to match _exactly two elements_ (`array.length === 2`). I'd use `(x, ...xs) => {}` to match an array _with more than one element_ (first e

[2015-11-09 06:53] donaldpipowitch opened #4 "Don't use prototype"
It would be better to use

[code]

or

[code]

instead of

[code]

[2015-11-09 19:25] leonardiwagner commented on #4
@donaldpipowitch , why do you think it's better?

The current syntax was based on [Scala match.](http://docs.scala-lang.org/tutorials/tour/pattern-matching.html)

[2015-11-09 19:35] leonardiwagner commented on #3
@donaldpipowitch nice idea! Yes it is possible, at least on ES6.

I'm started this project based on [Haskell syntax](https://www.haskell.org/tutorial/patterns.html), but your example can be useful for newcomers in functional programming to understand the last parameter tail concept.

[2015-11-09 19:41] donaldpipowitch commented on #4
@leonardiwagner Changing `prototype` is [dangerous](https://www.nczonline.net/blog/2010/03/02/maintainable-javascript-dont-modify-objects-you-down-own/).

Another way to solve this could be [`::` function bind syntax](http://babeljs.io/blog/2015/05/14/function-bind/), but this is experimental.

[code]

[2015-11-09 20:10] leonardiwagner commented on #4
@donaldpipowitch It's a bit controversial :smile: , I understand why libraries like underscore and lodash don't want to change prototype, since they aim a great mass of projects (even legacy ones) where changing the prototype of existing objects will be really bad.

I suppose that a lot of people prefer to write and read `list.map(f)` instead `_.map(list, f)`  , and since **z** is aimed for a smal

[2015-11-09 20:18] donaldpipowitch commented on #4
Definitely. That's why I'm really looking forward to `::`.

It's your library, you can decide. :) But I wouldn't change `prototype` even if this library is aimed for a smaller group. Say you make some demos now, it would be sad if they break in some years because a native `matches ` method will be implemented.

[2016-07-04 14:04] #4 closed

[2016-07-04 14:04] #3 closed

[2016-08-02 21:10] lucasviola opened #5 "Suuup"
![Like a boss](http://gifs.joelglovier.com/boss/breakfast-club-sunglasses.gif)

[2016-08-03 08:50] leonardiwagner commented on #5
![wassup](https://66.media.tumblr.com/cb8c35e0a012af2c4c9f3eae3be5b171/tumblr_mypng9t8RN1qk0z6co1_500.gif)

this library is not fancy enough, working on it!

[2016-09-02 02:52] naomik commented on #5
![mmmmhm](http://i.imgur.com/L4MdYay.gif)

[2017-02-06 00:39] leonardiwagner opened #6 "Istanbul coverage not 100%"
z.js file has a `// TODO: istanbul coverage error: 'else path not taken'` warning, need to fix this

[2017-04-04 01:50] leonardiwagner opened #7 "not matching strings"
[code]

it isn't returning `a` , is throwing `can't match anything for: text` instead

[2017-04-04 14:51] leonardiwagner commented on #7
it's failing because we're converting a `string` into an array of `chars` , very bad decision 😢

we need to remove [this split from string](https://github.com/z-pattern-matching/z/blob/master/src/z.js#L40), however it's breaking the lib, need to fix that!

[2017-04-07 17:40] aterribili commented on #7
Any new @leonardiwagner ?

[2017-04-07 23:02] #7 closed

[2017-04-07 23:05] leonardiwagner commented on #7
@aterribili I just fixed on #9

the solution was almost easy, when you match a string, I transformed the string as array of the single string, eg.: `"string"` as `["string"]`  , and another step of verification, if the value is a string, compare as string, and worked 👍

## please update the lib as **0.0.6**

[2017-05-10 05:36] leonardiwagner commented on #4
Hey @donaldpipowitch , just for the records, even thought I still believe in my personal opinion, the community feedback was same of yours, and since I want to make this not * mine * project, I did your suggested change, the 2nd layout:

[code]

This will be changed at `1.0.0` version which I plan to release soon, I'm already updating the docs on master, thanks for your collaboration!

[2017-05-10 05:40] leonardiwagner commented on #6
Fixed on #10

[2017-05-10 05:40] #6 closed

[2017-05-10 07:22] donaldpipowitch commented on #4
Cool, thank you for the update.

[2017-06-28 23:10] leonardiwagner opened #13 "not working properly"
trying to find length of a list

[code]

nor

[code]

works

[2017-06-29 01:18] paulojean commented on #13
I dont know if you already get the problem, but it is here: https://github.com/z-pattern-matching/z/blob/master/src/z.js#L9

One solution could be verify if the single is an array (before line 9), but in this case it would not be possible to match
[code]

[2017-06-30 19:06] leonardiwagner commented on #13
@paulojean actually I was very lazy to describe the problem 😜 , and now I figured out the real problem..it was:

- matching arrays with value comparison wasn't working with `(x = [])`, `(x = Array)`

it wasn't using `match.js` to match value comparsion on arrays, only in single itens 😆 , fixed on #14 , thanks 👍

[2017-06-30 19:16] #13 closed

[2017-07-05 20:31] limeb opened #15 "Browser support?"
What is the browser support?

[2017-07-07 18:09] Koleok opened #16 "Match on presence of key"
My most common use case is matching on the presence of a key in an object and binding a variable to it de-structured style, I noticed this idea made it into the [tc39 pattern matching proposal](https://github.com/tc39/proposal-pattern-matching/blob/master/README.md#object-patterns) and was wondering if you had plans to implement anything similar in `z`?

_example from proposal:_
[code]

I'd be gla

[2017-07-07 22:20] leonardiwagner commented on #16
Hi @Koleok , it'd be awesome!

I'm looking to implement the good ideas from [tc39 pattern matching proposal](https://github.com/tc39/proposal-pattern-matching/blob/master/README.md#object-patterns) on `z` indeed, a PR with that feature is welcomed

[2017-07-09 21:03] leonardiwagner commented on #15
Hi @limeblack , sorry for late response, the only thing we require to run from es2015 is `default parameters`, so it won't run on Internet Explorer, only on Edge, Firefox > 15, Safari > 10, Chrome > 49, basically versions from a year ago

The question is good since there is no attention to run on web, I'll look to improve documentation, and look how it'd works with transpilers such babel.

[2017-07-10 10:35] bySabi commented on #16
I'm looking this too. What you think about this test examples:
[code]

[2017-07-10 12:16] bySabi commented on #16
@leonardiwagner  if you agre with test and syntax I can try to make an implementation

[2017-07-10 13:31] leonardiwagner commented on #16
@bySabi I understood @Koleok will work on the presence key feature, let's wait him for a while? However your [rest parameters](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Functions/rest_parameters) idea is very good and you can start implement indeed.

The current syntax also matches and get the object, as:

[code]

Honestly I don't see any advantage having:

[code]

But can be

[2017-07-10 19:39] bySabi commented on #16
OK!  this feature need more consensus before start to code it.
@Koleok what you think about propose sintax?

[code]
Probably this will continue working.
But,  IMO, this look better, more sense:
[code]
- We take advantage of destructuring
- We we get ride of 'x' var
- We can cover a use-case that is not posible with ( x = { name: 'John })  sintax, `matching` only for a **key**  object, say: `({ nam

[2017-07-10 19:43] bySabi commented on #16
Probably rest is not needed and `({name = 'John'}, ...xs)` become `({name = 'John'}, xs)`
[code]

[2017-07-10 20:16] bySabi commented on #16
We could add too a `when` function for `guard` cases like in [Exilir Guards](https://hexdocs.pm/elixir/master/guards.html)
Ex:
[code]

Probably this should go to a new `enhancement` issue

[2017-07-10 21:02] Koleok commented on #16
@bySabi you were busy here! I took an initial crack at this, which works with arbitrarily nested destructuring as a pattern, but does not yet support patterns like

- [ ] `({ x: Boolean }) => x`
- [ ] `({ x: 'literal string' }) => x`

In my opinion these would need to work, what do you guys think?

I am obviously in favor of dropping the default arg approach that is currently ubiquitous in this li

[2017-07-10 21:03] Koleok commented on #16
Also @leonardiwagner I modified some folder structure and put `prettier` in place for commit hooks, but it looks as though you have done some work since then making my PR here pretty conflict-y, I will take a look at that later tonight and try and post a version that can actually be merged.

[2017-07-10 22:03] leonardiwagner commented on #16
@bySabi looks good, let's open another issue for guards!

just wondering, why we can't do this?

[2017-07-10 22:04] leonardiwagner commented on #16
@Koleok I merged a PR with prettier already, just take a look while merging, prettier is restricted to `src` only, because I doesn't look good with pattern matching syntax

[2017-07-11 00:37] Koleok commented on #16
@leonardiwagner In regards to

Its because the default value has to be something valid, and in order for that [`object shorthand`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Object_initializer#New_notations_in_ECMAScript_2015) syntax to work there would need to be an existing variable called `name` in scope, which would defeat the purpose because we are trying to b

[2017-07-11 03:45] leonardiwagner commented on #16
@Koleok I'm not sure about that, because in your example `x` isn't declared also and works. The `z` approach is to reflect parameters (both `x` and `name`), stores values in a memory object, and latter apply to the function (in your eg. => { console.log(name) })

[2017-07-11 06:30] bySabi commented on #16
I also thought it would not work but it does.
[code]

[2017-07-11 06:41] bySabi commented on #16
`name` is not a parameter , is a key of a `object literal`, a value.

[2017-07-11 07:22] Koleok commented on #16
Wow this [`really does work`](https://koleok.github.io/repl/#?const%20obj%20%3D%20%7B%20name%20%7D%0A%0Aobj) and reveals a behavior i never knew about before.

Looks like my initial implementation could get simpler then.

[2017-07-11 09:54] bySabi opened #22 "Not work with Babel"
Transformed code with Babel not work.

Probably is due this is not set: from `js-function-reflector` doc:

[code]

[2017-07-11 09:59] bySabi commented on #22
I think this must be solve explicitly:

[code]
AND

[code]

[2017-07-11 14:00] leonardiwagner commented on #16
@Koleok yes, be free to send another PR. Don't forget about pulling `master` before, and the build is breaking due lack of coverage but nevermind, I'm working on this.

@bySabi sure, but the whole object `{ name }` is and is (or at least should be!) reflected also

[2017-07-11 14:05] leonardiwagner commented on #22
@bySabi I didn't start to work on babel, and I don't know to work with him yey, I have a question:

when you write a match like this:
[code]

it'll transpile as:
[code]

is there a way to receive the written code instead the transpiled one in `z`?

[2017-07-11 15:24] bySabi commented on #22
I'm afraid this is not posible, maybe with a `babel-plugin` and making `annotations` in matches function patterns. But I think is not worth it.
The `js-function-reflector` approach is more simple, [babel-preset-es2015-reflector]( https://github.com/arrizalamin/js-function-reflector/blob/master/babel-preset-es2015-reflector/index.js#L3) parse tranformed functions and extract `default` params.

`z`

[2017-07-11 15:31] leonardiwagner commented on #22
@bySabi ok, I wasn't aware how`babel-preset-es2015` works, I'm gonna take a look later on this too, thank you.

[2017-07-11 22:08] leonardiwagner commented on #16
Guys, I'm going to close this issue, it's becoming huge and also this feature is already implemented.

@Koleok Thank you for your contribution. Though is working, it'd be good to try to use  the `js-function-reflection` instead implement reading by itself to reduce project complexity, though is very good solution, congrats!

@bySabi you can open another issue / PR to implement your idea about the

[2017-07-11 22:27] Koleok commented on #16
@leonardiwagner thanks 😉 I actually did rely on the output of `js-function-reflection`, but it just didn't seem to be fully equipped to handle a destructured object signature _(returns something like `['{a', 'b:{', 'c']` for the reflected `args` array)_, thus the roundabout silliness of [this](https://github.com/z-pattern-matching/z/blob/master/src/matchObject.js#L8) 😂

[2017-07-12 01:38] leonardiwagner commented on #16
@Koleok oh that's true! I'll try to ping that project owner, thank you again!

[2017-07-12 01:38] #16 closed

[2017-07-12 01:56] leonardiwagner commented on #16
@Koleok bug reported at: https://github.com/arrizalamin/js-function-reflector/issues/6 , the library code is kind of simple, maybe you take a look easily how to solve, otherwise I can take a look on weekend.

[2017-07-12 06:13] bySabi commented on #16
I'm coding and researching a parameters parser for `z`.
IMO fixing `js-function-reflector`  for `z` is not the way to go.

 Let me see what I got at end of week.

[2017-07-12 12:00] Koleok commented on #16
@bySabi I think I agree here, there are deeper problems like the fact that everything gets destroyed if this library gets picked up and transpiled/bundled since `babel` renames all the destructured args like `_ref2`

[2017-07-12 12:22] bySabi commented on #16
`babel` is a problem. I will take a look when finnish the parser and matcher, `guards` include , :).
But it will more easy if we stay with current sintax for objects, say `(x = { name }) =>  name`

I need a more time to commit an **alpha** casue I'm rewriting all from scratch.

[2017-07-13 18:12] bySabi opened #23 "Current problem with `z`"
When I found `z` I wanted to improve it, bringing pattern matching to javascript will be a breakthrough. First of all I wanted to understand how it was implemented and what is better than reimplement it from scratch. A few days later I abandoned the idea because in my opinion this library has no future. I report the problems I have encountered.

`z` bases its logic on functions **"reflection?"**.

[2017-07-13 18:25] bySabi commented on #22
I will follow another path where Babel is not a problem.

[2017-07-13 18:25] #22 closed

[2017-07-13 19:46] leonardiwagner commented on #23
Hi @bySabi,  `z` is not about parsing/reflecting javascript code, not at all. There is no such code as `eval` or `.toString()` which you mentioned, `z` only orchestrates reflected data to achieve pattern matching feature. Currently we are using [some library](https://github.com/arrizalamin/js-function-reflector) to reflects javascript functions and probably there is your disappointment.

So, 2/3 o

[2017-07-13 20:19] bySabi commented on #23
@leonardiwagner I had been researching and make a little trial&error for a couple of days and I can say there are not  function **reflection** in current javascript, just the `toString()` trick. See your self: https://github.com/arrizalamin/js-function-reflector/blob/master/index.js#L10

But to me real problem is **deserialize**  function default values with *eval*: https://github.com/arrizalamin/

[2017-07-13 20:39] leonardiwagner commented on #23
@bySabi what I tried to explain is, there is such issues on `js-function-reflector` indeed, but it's not `z` issues. If we want to improve, let's do it on js-function-reflector or create a new lib to send reflection data to `z`.

The problem about **Custom Types** is: when user create types, he creates in a specific scope. When z `match` function is invoked, we don't share the same scope of declar

[2017-07-13 20:39] arrizalamin commented on #23
Hi @bySabi and @leonardiwagner, I'm a creator of [js-function-reflector](https://github.com/arrizalamin/js-function-reflector/) and also interested in `z`. I think there is a way to remove _eval_ from my function reflector, but that will need big changes in the parser to save key and value from array/object argument. And a suggestion to your 3rd option is to use ES6 [Symbol](https://developer.mozi

[2017-07-13 22:38] bySabi commented on #23
If a `z` problem cause it is build on the premise that `function`  reflexion is posible in javascript and is not. I just a trick.

Do you have any idea to solve that? I can't think anything but the user need to inject his custom types to z.

You **hit the wall**:
* You cannot suggest to users that put his **identifiers** in the global context.
* You cannot inject a whole context on `eval`/ `new Fu

[2017-07-13 22:39] bySabi commented on #23
Hi @arrizalamin. I know your code 👍

Please! tell me,  what is your idea about `eval` replacement. I implemented `default arguments extraction` with **new Function()** beside *eval* but at the end we have the same problem, a different context than the `user context`

I had take note of the `Symbol` suggestion.

Thanks!

[2017-07-13 22:41] bySabi commented on #23
@leonardiwagner is fine to you, tomorrow I will continue with the specs of the new sintax and a rough implementation.

[2017-07-13 22:55] bySabi commented on #23
@arrizalamin, trick per trick :)

I create this function for detect is we are run in a transformed code environment.  With this your user don´t need configure for Babel, you do transparently.

[code]

`747` is MAGIC number, don't meen nothing!

[2017-07-13 23:06] leonardiwagner commented on #23
@bySabi I'm afraid you are not considering `z` or any library you make will run inside another scope due being inside a module, which is other than user defined Custom Type scope, let's see an example:

someMatch.js
[code]
index.js
[code]

so I don't think you are gonna to achieve CustomType solution just with new syntax either, is a module restriction, or am I misunderstanding something?

[2017-07-14 01:16] arrizalamin commented on #23
@bySabi the idea is when a parser finds a string opening (',",`) it will scan until the end of a string and parse that as a string. When it finds a number, use parseFloat() to parse them as a number. We need to make the same thing for regex/symbol/etc. And when it finds an object/array opening ({,[), it will scan all key as a string and all of the previous functions (string,number,regex,etc) to pa

[2017-07-14 05:33] bySabi commented on #23
[code]

When function is called it will throw a  `ReferenceError: MyCustomType is not defined ...`

This the normal behaviour of javascript, scope is lexical. MyCustomType must be defined in the moment of the function is defined nor when is called.
`this.MyCustomType` is diferent cause scope will resolve in moment it is called.

[2017-07-14 14:06] leonardiwagner commented on #23
@bySabi can you please write a quick example about this working?

[2017-07-14 15:21] bySabi commented on #23
ah!! sorry!!  `this.MyCustomType` not make any sense.

 I was just taking about the diferences between  functions scopes. A correct example will be `this.anyFunction`

[2017-07-14 21:15] leonardiwagner commented on #23
@bySabi it's ok, any idea how to solve that? (besides user needing to send us types via injection)

[2017-07-15 06:12] bySabi commented on #23
@leonardiwagner, I have no idea. I think it can not be done. That is why close that path and in my opinion, for the best, I have made some progress, I hope to share it in a few days

[2017-07-15 19:53] leonardiwagner commented on #23
@bySabi OK, so I'm closing this issue

[2017-07-15 19:53] #23 closed

[2017-07-26 16:53] bySabi opened #24 "a unfinnish work ..."
Relate to previous issues: https://github.com/z-pattern-matching/z/issues/16 https://github.com/z-pattern-matching/z/issues/22 https://github.com/z-pattern-matching/z/issues/23

I start to research another way to implement pattern matching, I make some progress but I don´t have more time to continue.

Is really hard to do a rich pattern matching library and retain a user friendly API. IMO create a

[2017-07-27 03:20] leonardiwagner commented on #24
Cool, but I really didn't get how it could help or solve a problem, actually I didn't get what problem this project are trying to solve, can you explain with more details please?

[2017-07-27 06:43] bySabi commented on #24
`core-z` and assertion `z` library solve some problems that have current `z`:
* native ES5 support
* performace. Current `z` relay on to String conversion and regex parse.
* Current `z` don't follow the Open/closed principle. With `core-z` any one can create `assertions/match` functions. With current `z` this must be done throught Pull request.
* `core-z` don't have the scope problems of current `

[2017-07-28 19:11] leonardiwagner commented on #24
we have 0.0.7 version which supports es5, also, I didn't see the solution to have same capabilities on es5 in your project

do you have any metric comparison, or performance hassle while using `z` to properly report this as issue? If your library has **at least same features and runs faster**, then it would be a solution.

OK, I'll check this, feel free to open a PR for that.

Again, I didn't see

[2017-07-28 19:11] #24 closed

[2017-11-16 12:35] leonardiwagner commented on #5
2 years later, [officially released](https://z-pattern-matching.github.io/)!

[2017-11-16 12:35] #5 closed

[2017-11-16 16:22] lucasviola commented on #5
Awesome! :D

[2017-11-17 09:32] galkowskit opened #25 "async/await example"
Let's say we have this:

[code]

Will this even...?

[2017-11-18 01:31] noformnocontent opened #26 "it's not "native", it's "vanilla""
"native" nowadays means "a system app" -- mobile or desktop, i.e. "does not depend on a web-browser"

what you wanted to say is "vanilla" -- b/c it dosnt need babel, webpack or a WASM compiler

[2017-11-18 14:02] paulojean commented on #25
Nop, but you can

[code]

[2017-11-19 17:04] leonardiwagner commented on #26
Thanks, I'm gonna change it.

[2017-11-21 17:18] ForsakenHarmony commented on #26
native for me would also include if it was a language feature, but it's not, more of a hack

[2017-11-24 16:03] depoulo commented on #26
In this spirit, are you specifically trying to align as closely as possible to https://github.com/tc39/proposal-pattern-matching?

[2017-11-24 16:36] leonardiwagner commented on #26
@depoulo No. That proposal is not mature yet, there are a lot of caveats, besides not being able to be close anyway due the proposal features rely mostly on Javascript syntax changes.

[2017-11-24 18:12] pvorona opened #28 "Source code question"
Hello, I've been browsing through source code trying to understand how the thing works and got question considering following function:
[code]
Could you explain why is it using Object.keys / arguments instead of using rest args?
[code]

I cant find any test explaining this thing.

[2017-11-24 18:31] leonardiwagner commented on #28
@pvorona The use of `Object.keys` instead rest parameters, it was because at written time we was compatible with previous versions of node 6 also. Now there is no reason.

You also changed from `function` to a lambda `() =>` in your example. I remember we had a reason to maintain `function` probably due lack of lambda own scope, but honestly I can't remember right now the reason. If we remove this

[2017-11-25 00:08] pvorona commented on #28
@leonardiwagner Thanks for very fast reply. Tests are OK
https://github.com/z-pattern-matching/z/pull/29

[2017-11-25 00:08] #28 closed

[2017-11-25 22:29] ccorcos opened #30 "How is this possible?"
I see you're using `js-function-reflector` but does that mean you need to use `babel-preset-es2015-reflector`?

[2017-11-25 23:30] leonardiwagner commented on #30
@ccorcos not directly, it's just a dependency of `js-function-reflector` but we don't use any feature of `babel-preset-es2015-reflector`. We could fork the library and remove that dependency if necessary. Is there any reason to justify that move?

[2017-11-26 00:10] ccorcos commented on #30
No, I’m just curious how this works! Are you using Function.toString and
parsing text? How does this work?
On Sat, Nov 25, 2017 at 15:30 Wagner Leonardi <notifications@github.com>
wrote:

[2017-11-26 00:56] leonardiwagner commented on #30
Yes, that's the `js-function-reflector` approach. It was very hard to find such lib that works well with lambda, default arguments, and new stuff, any that was the only one I found which works well!

[2017-11-26 13:22] #30 closed

[2017-11-26 13:37] ccorcos commented on #30
Isn't it going to break once you use a minifier though?

[2017-11-26 23:45] pvorona opened #32 "Support unnamed desctructured parameters"
Currently I'm investigating the ability of implementing the following:
[code]

Compare to previous version:
[code]

So the unneeded parameter `x` is removed. I can't find any closed issue addressed this idea. What's your thoughts on this idea?

[2017-11-27 15:35] leonardiwagner commented on #32
It's a very good idea @pvorona , I don't have any point to disagree. It makes the object match even simpler! It'll be like the  [proposal-pattern-matching Object Patterns](https://github.com/tc39/proposal-pattern-matching#object-patterns).

That task is not very hard, [just need to check how js-function-reflector returns the data](https://github.com/z-pattern-matching/z/blob/master/src/getMatchDet

[2017-11-28 14:49] Risto-Stevcev opened #34 "Exhaustivity checking"
Have an option that checks if the matching is exhaustive, and if it isn't then have it immediately throw an error that the matching isn't exhaustive.

[2017-11-28 14:59] leonardiwagner commented on #34
@Risto-Stevcev What is your complain with the current way of only returning `undefined` instead throwing an error?

[2017-11-28 15:14] Risto-Stevcev commented on #34
If the `undefined` value isn't handled or noticed then it will leak into other parts of the codebase and can lead to bugs that are hard to track down. You might actually think it's exhaustive and it isn't, and then much later on it could lead to nasty bugs. If it checks the cases and throws if it's not exhaustive then that won't happen. That's how haskell and elixir does it

[2017-11-28 15:33] leonardiwagner commented on #34
@Risto-Stevcev yes indeed, at v0.x.x we was closer to these classical pattern matching specifications, however it wasn't well accepted since is too different from JS world. The decision to return `undefined` instead throwing error is to make familiar to JS programmers, which are used to check for `undefined` and prevent the mentioned bug prone behaviour.

I'll maintain that suggestion open for mor

[2017-12-01 14:47] bhavinkamani opened #35 "does not work with typescript"
Strange but when I use some of the snippets with typescript, it always returns the result of the first param. For example

[code]

returns `John you are not welcome`.

[2017-12-01 22:35] paulojean commented on #34
I'm against to throw an error on this case, because of the friction it causes. In this line, I would rather return an `option`.

Also, the check that it is "exhaustive" would be to ensure that there is always a `x => ...` in the end (matching everything). Given the nature of dynamic typing of javascript (way different from haskell).

[2017-12-02 13:33] mindreframer commented on #35
this is what typescript compiles down to:

[code]

[code]

[2017-12-02 13:38] Risto-Stevcev commented on #34
In Haskell you can define partial pattern matching. In those cases if you hit a case that isn't handled it'll immediately throw an error, the value won't silently propagate into your program. Same with Elixir, it immediately throws.
Having it return an option will be less sound because of javascript's type system. What if that value gets used as a predicate? everything in javascript is truthy/fals

[2017-12-17 20:02] francisbrito opened #37 "Does not work if match value comes from a variable"
e.g:

[code]

Strangely enough, it only happens if the code is ran as a file, if it is ran in the REPL it works.

This error seems to be related to `js-function-reflector`.

[2017-12-17 22:24] leonardiwagner commented on #37
@francisbrito This code won't work because `FILTERS` is not present in z `matches` scope. That's why we can only make a pattern with explicit values. It's actually strange how it works on REPL, I'm going to spend some time to check this.

If someone has a idea how could inside `matches` read variables outside its scope, it would be a great feature! Honestly I don't know any solution but having a f

[2018-01-04 18:52] leonardiwagner commented on #37
Hello @francisbrito, this feature is now available on z@1.0.4 , now you can call z with `apply` or `call` and then set the context, examples:

[code]

If the variable to match isn't on `this`, you can also set manually , eg.:

[code]

This was possible due [a modification on js-function-reflector library](https://github.com/arrizalamin/js-function-reflector/pull/12)

[2018-01-04 19:33] francisbrito commented on #37
Glad hearing so. Thank you very much!

[2018-01-04 19:33] #37 closed

[2018-02-02 22:23] babakness opened #39 "This is awesome"
Good job!

[2018-02-02 22:23] #39 closed

[2018-02-06 02:13] EthanRBrown opened #40 "Matching Consts"
Using z in a Redux project, I was very surprised to find that `matches` doesn't work with atomic consts:

[code]

This code results in "foo is not foo???", which is (ahem) not really what I was expecting.

I haven't dug into the source code to see how z works its magic, but it seems like this would be a really common use case.

[2018-02-06 11:18] leonardiwagner commented on #40
Hi @EthanRBrown , this looks like the same problem at #37

please use version z@1.0.4 , and `.call` method passing the context, example:

[code]

The problem is, the library can't have your context (with your decelerated `const`) unless you explicitly  pass as arguments. We need to update the docs with this `.call` method, but honestly, I'm looking for an easy, or elegant way to solve this problem

[2018-02-06 18:42] EthanRBrown commented on #40
Ah, thank you for the reply...I was remiss in that I searched the issues, but I didn't look through the closed issues.  I agree a more elegant solution would be nice...might dig in & see if I can figure something out myself, will keep you posted if I can find the time.  Thanks for all your hard work!

[2018-02-06 18:42] #40 closed

[2018-04-06 23:27] naomik commented on #26
Still says "native" on the front-page https://z-pattern-matching.github.io/

It's not native. It's vanilla.

[2018-04-09 07:53] ptusch opened #41 "Working with "dynamic" objects"
Hey there,

I'm trying to get a grip on this library and would love to use it with objects.
Currently, I'm trying to parse a version and based on the object's major/minor/patch, do different things:
[code]

Following the sample from the documentation results that Marie is welcome - it works as expected and my implementation for `manual` does, too. But that is basic stuff I don't need.
I'd like to

[2018-04-09 12:34] leonardiwagner commented on #41
Hi @ptusch , you are right, currently is only matching EXACT objects. This feature about matching "dynamic objects" was on the roadmap for a while but is not implemented yet.

I'll give it high priority and I'm going try to release that until the end of the day!

[2018-04-09 13:57] ptusch commented on #41
Wow, thanks @leonardiwagner it is much appreciated!

[2018-04-09 20:19] #41 closed

[2018-04-09 20:44] leonardiwagner commented on #41
Hey @ptusch this feature was implemented, many thanks for reporting that! :tada:

Please use the new version `z@1.0.6`  and give me a feedback if it's working as expected now, or if still not working for you.

[2018-04-10 06:36] ptusch commented on #41
Works as intended now, thanks.
Kudos for this lightning fast reaction! Thats really nice! :+1:

[2018-04-20 14:30] ForsakenHarmony commented on #26
It still says native

[2018-04-20 16:32] leonardiwagner commented on #26
I don't know why this issue was closed, reopening right now, thanks for the warning @ForsakenHarmony and @naomik

Just to remember this project isn't "mine" and it's open to anyone send PRs, I'm currently assigned to update the whole website (including new features done past weeks) which is a higher priority, but after that, I can work on this also if still this description. Thanks.

[2018-04-21 01:59] ForsakenHarmony commented on #26
it's on the website

[2018-04-28 19:22] ptusch opened #43 "Installation on Windows/without git not working due to git checkout"
Hello there,

There seems to be an issue in the package.json.
Currently, you have a fixed git checkout to `js-function-reflector` but that requires the user to have git available.

While this is no problem for your all-day developer, this means you need git at install-time. So including `z` into software that is used by the average software "user" will become difficult (of course, we can question

[2018-04-28 19:49] leonardiwagner commented on #43
@ptusch you are right, any package should depend on git indeed.

Probably now it's aligned with [arrizalamin/js-function-reflector](https://github.com/arrizalamin/js-function-reflector), just need to check it and fix `package.json` I placed in the roadmap, otherwise, we deploy it on another npm package

[2018-05-14 01:29] ssut opened #44 "Function reflector does not handle the case of using object-based value"
I have code like:

**types.js**
[code]

**index.js**
[code]

and the expected behavior is to just work as the `x` is assigned by constant, but it seems not so just throwing an TypeError which looks like:

[code]

I believe this should be filed in the *js-function-reflector* but I do it here because `z` has a dependency on it, which appears to be maintained by you.

[2018-05-15 15:19] leonardiwagner commented on #44
Hi @ssut , it's there 2 problems:

- First, you can do make this work using `.call()` method to `z` passing the arguments in context, since any library could know where `Types` comes without doing this explicitly, so you should refactor index to:

[code]

- Second problem, it's only working on `z@1.0.4` , please use this version while we don't fix this bug, thanks.

[2018-05-15 16:04] leonardiwagner commented on #44
Hey @ssut , fixed that on `z@1.0.8`, please ensure you are using this newer version and passing `Types` on `.call` method:

[code]

Please report if it's everything working now, thanks!

[2018-05-25 10:18] nunojesus opened #45 "Do you need a new logo?"
Hello, I like to contribute with graphic designs, in opensource projects, so if you need something from me like a new logotype or something else just say it, Im here ready to help you.

Greetings!
Nuno Jesus

[2018-05-27 06:48] #44 closed

[2018-05-27 13:55] MarcCoquand opened #46 "using Z with redux?"
Hey so I'm testing out the possibility of using z with the reducer in redux with the following code:

[code]

and then in then in my main app (a counter) I have the following:

[code]

but when I click a button returns `no state REM`, in the stack trace I saw that `subjectToMatch = "REM"`.

[2018-05-27 23:47] nunojesus commented on #45
Hi See if you like one of this logos.
![z](https://user-images.githubusercontent.com/34600369/40591915-b290b550-6210-11e8-8ece-b4c03f4dbde4.png)

[2018-06-04 21:29] leonardiwagner commented on #45
hi @nunojesus , my only concern about the right side logos is about small printing (as favico in website), so I mostly enjoyed the left side ones, my personal taste was about the grey one.

But is up to you choosing what's better, then feel free to update logos via PR, or send here them I update as well, thank you for your work, well done! :clap:

[2018-06-04 21:34] nunojesus commented on #45
Thanks for your words, Im trying to create more designs for your project and I will put them here soon. Greetings!

[2018-06-06 14:14] nunojesus commented on #45
Hello,
I create other design for the logo, I put diferent colors, see if you like it, if you want other color just say it.

Greetings!

![z2](https://user-images.githubusercontent.com/34600369/41043494-f41cfbea-699b-11e8-94a1-8b6d53d5613d.png)

[2018-06-07 20:14] leonardiwagner commented on #45
Hey @nunojesus , I still prefer the 5th option from first art, what do you think about it?

[2018-06-07 20:35] nunojesus commented on #45
Ok @leonardiwagner , I will prepair the PNG files, do you have any request?

[2018-06-07 20:49] leonardiwagner commented on #45
@nunojesus no, they are great, feel free to do your best, thanks! :smiley:

[2018-06-15 20:38] nunojesus commented on #45
Hello, how are you?
I was working in the design of your logo, I decide to make the logo that you like in a square, I think it looks better, and I made some color variations and gradiant background.
See if you like one of this.

Greetings!

Nuno Jesus
![zquadrado222](https://user-images.githubusercontent.com/34600369/41488477-57b1937e-70e4-11e8-812a-1b0c0495da7a.png)

[2018-06-20 23:30] leonardiwagner commented on #45
@nunojesus woa! Thanks for more options, but I still think the first one is good because most of our logo display is small.. so those details won't be displayed 😞 , let's use the first one so?

[2018-07-15 16:45] StoneCypher opened #48 "You're accidentally stealing a name and logo"
There's already something in active use called `z` and it has a very similar logo

It's a mathematical constraint system for proving software, and a big chunk of it is about pattern matching

When `golang` took the same name as the existing high quality language `go`, the existing language disappeared forever, despite that it had several compilers and books

Please consider renaming your project.

[2018-07-15 16:45] StoneCypher commented on #48
It's actually a fascinating work

Please be considerate and don't bury it forever

![image](https://user-images.githubusercontent.com/77482/42736052-d6c9bf74-8813-11e8-9771-79090e74d356.png)

[2018-07-19 21:46] leonardiwagner commented on #48
Hey John, claiming that I stole something was very harsh to hear. I'm only replying to you as a professional colleague, considering you were way too passionate when you wrote that, so I'm not even defending myself of such charges, just replying a friend, okay?

Z is the 26th letter of the Latin alphabet. It isn't a creation of Jonathan Jacky. We can create an idea, a logo, or a font, but not a let

[2018-07-19 21:46] #48 closed

[2018-07-20 05:16] StoneCypher commented on #48
did you miss the word "accidentally?"  there was no passion here

.

by this choice, you doom either their project or yours

how unfortunate

[2018-07-20 05:50] ptusch commented on #43
Now I've just had issues with installation in Linux, too.
[code]

So obviously, the network somehow decided to brick. But only for this very dependency.
Right now, I'm blocking production because of this and it's not the greatest feeling. Do you plan to fix it or desire a PR for this? (last time I checked, there were some unit test issues - I think like 4 that broke).

(Sorry for the tone; it's ha

[2018-07-20 13:34] StoneCypher commented on #48
they're in exceptionally similar domains

it's unfortunate that you're arguing about something you don't use

[2018-07-20 13:34] StoneCypher commented on #48
oh well.

the golang people reacted almost identically.

[2018-08-03 14:24] rnsell commented on #35
Z uses a module to get meta data about functions specifically the ability about default params. If any code is transpiled to es5 the es6 code default assignement are removed from the function signature thus resulting in broken code. The above code needs to transpile to es6 or higher to work properly. This probably also means pattern matching will break on babel transpiled code to es5.

[2018-08-05 07:40] masaeedu opened #51 "Flip around order of arguments"
Thank you for a very useful library. It's a bit late to bring this up I think, but I thought I'd open an issue anyway; it seems like the current order of arguments is not great for partial application. From the `README` examples:

[code]

but if it accepted the case matchers first, it could just be:

[code]

It's not hard to define a flipped around version wherever I use it, but it'd be handy if t

[2018-09-04 03:32] #15 closed

[2018-09-27 14:03] cirokd opened #52 "Matching doesn't work on strings"
Hello!

First of all, great library, thank you!

I just introduced `z` (version 1.0.8) to a project and I cannot seem to get it to work with strings. I created a sandbox in which I recreated the issue I faced. It also includes two tests from the test suite that don't work as expected. I'm not familiar with the source code but anyways let me know if I can be of help fixing this issue.

Here is the

[2018-09-27 15:12] leonardiwagner commented on #52
Hi @cirokd , your sandbox at codesandbox.io is using babel which transpile your code, so `z` isn't receiving your actual code but a transpiled one (which doesn't suit very well for `z`).

I don't know codesandbox.io much, but I tried going on configuration files, added `.babelrc` then I cleaned up the preset and then your code ran as expected 😁 , the `.babelrc` file looked like this:

[code]
If yo

[2018-09-27 15:28] leonardiwagner commented on #46
Are you using Babel? This is probably related to Babel since it transpiles the matches so it doesn't work well with `z` , if you want to use Babel (or any other transpiler) with `z` is necessary to use the js default parameters at least, using babel stages presets will make it works!

[2018-09-27 15:35] leonardiwagner commented on #34
Hey, I'm closing due inactivity, I truly understand the argument but we are aligned with JS community and JS "way of life" and we didn't get any complaints about that so far, any other news we reopen this issue, thanks for you all collaboration!

[2018-09-28 09:01] cirokd commented on #52
Thank you @leonardiwagner for your quick response!

I found this page on MDN about [default parameters](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Default_parameters#Browser_compatibility). Can you please tell me if I need "Basic support" only, or is "Destructured parameter with default value assignment" necessary as well? What is required for `z` to work?

[2018-09-28 10:42] Risto-Stevcev commented on #34
@leonardiwagner One other approach: you could make it optional, ie. a setting to make it 'stricter' and throw an exception, or to have the more lax/flexible version

[2018-09-28 19:04] leonardiwagner commented on #34
@Risto-Stevcev sure, great idea!

[2018-09-28 19:16] leonardiwagner commented on #52
@cirokd actually I don't even think `z` itself use default parameters at all!  The requirement to use the basic support of default parameters in your case is because you are using default parameters on z and this shouldn't be transpiled, so you can go with "basic support".

That means if later you want to use object matches in `z`, then will be required "destructured parameters" support once the o

[2018-10-03 09:52] cirokd commented on #52
Thank you for your time!

[2018-10-25 10:37] dkvasnicka opened #53 "Matching on types incorrectly identifies an object as a String"
Just tried the following on Node.js v9.8.0:

[code]

[2018-11-05 17:43] #53 closed

[2018-11-05 17:53] leonardiwagner commented on #53
Thank you for pointing this bug @dkvasnicka !

sorry for the late response, but the good news is that is fixed, I just published the new  z `1.0.9` version with your example working now, please update and let me now any problems, thanks!

[2018-11-09 08:08] dkvasnicka commented on #53
Thanks for the fix! The use case where I wanted to use this is no longer relevant for me but as soon as I need pattern matching again I'll be sure to give it another go.

[2019-01-25 13:37] nandotorterolo opened #55 "Help, with documentation."
Reamde says
[code]
 but

[code]

[2019-01-25 14:51] leonardiwagner commented on #55
Hello @nandotorterolo! Gracias for reporting that!

I'd say this is a bug on library rather than a documentation error

Your second example works because you explicitly tell `tail =[]` , and the first doesn't because Z is understanding to match `tail = undefined`, the problem is in this line: https://github.com/z-pattern-matching/z/blob/master/src/matchArray.js#L20

Comparing last match argument (

[2019-02-23 16:09] alfredosalzillo commented on #35
Hi, i release a babel plugin to preserve the toString of  transpiled arrow function, i tested in a project with z and it seems work [babel-plugin-preserve-arrow-function-to-string](https://github.com/alfredosalzillo/babel-plugin-preserve-arrow-function-to-string).

[2019-10-17 17:33] leonardiwagner commented on #46
closing due to lack of feedback

[2019-10-17 17:33] #46 closed

[2019-10-17 17:39] leonardiwagner commented on #51
going to release a `v2` for such breaking change

[2019-12-12 16:04] leonardiwagner opened #60 "Update dependencies"
- Update dependencies version
- Check for dependencies securities fixes
- Use `js-function-reflector` as npm package instead git link

[2020-01-28 16:56] shadowmouse opened #61 "Multi-Character global condition match failure"
I'm running into what may be a conceptual issue rather than an actual issue. Are multi-character match variables supported?

E.g.

`
let string = "test";
match(string)(
   (s) => { console.log(s); }
)
`

Executes as expected logging

`test`

but

`
let string = "test";
match(string)(
   (str) => { console.log(str); }
)
`

generates no output.

[2020-06-06 08:34] jedwards1211 commented on #52
Would you accept a PR to warn about this at the top of the README?  This is a very major caveat and users deserve to know up front about it.

[2020-06-07 03:04] jedwards1211 opened #62 "z is slow because it reparses function source code every time"
I mean pattern matching is cool when it's a core language feature, but...

### Test Code

[code]

### Results

MacBook Pro Mid 2014, macOS 10.15.5.  Node 12.16.2.
[code]

[2020-06-09 16:03] leonardiwagner commented on #62
@jedwards1211 Hi Andy, let's talk about it:

- The compress example is only an illustration to show how pattern matching works for people who don't know how pattern matching works. There's no intention for that code being fast or used in real-life scenarios instead of `.filter` in real life **if the job is only for filtering numbers**. You may know that pattern matching is much more powerful than

[2020-06-09 16:46] jedwards1211 commented on #62
@leonardiwagner the main problem is that `z` reparses the match function source code on every call to `matches`, which slows any possible use case down.  The compress example demonstrates that perfectly well even if it's not a real-world example.  Yes, the example should be something where the code is clearer with pattern matching, but let's focus on the catastrophic slowdown.

To prove that `.con

[2020-06-09 20:49] leonardiwagner commented on #62
@jedwards1211 Andy, you misunderstood the compress example with what exactly z or any pattern matching does. The didactic example performs as you state, not z itself! Let's see it together next:

@jedwards1211 That is not true, they're not equivalent, not even close:

- The first algorithm (didactic example) deliberately uses recursion on each array element without necessity <ins>in a language tha

[2020-06-09 21:07] jedwards1211 commented on #62
Yes I am biased, I dislike the idea of working magic by parsing functions' source code, both because it's brittle (doesn't work with transpilers) and because it is computationally expensive, and it might be a nasty surprise to people who use this library because there's no warning in the readme.  I think it would be better to implement with some other method (unfortunately I don't think there's a

[2020-06-09 23:00] leonardiwagner commented on #62
@jedwards1211 you're right, I mostly agree with you, but tell me about that:

Do you have a suggestion on the exact text that should be stated? I just fear people thinking that just using z a few times will get the whole application 65x worse!

I don't see any harm to call z for 100 or 1000 times on an execution and have a `150ms` overhead for lots of conveniences, code and bug-prone reduction, re

[2020-06-10 00:17] jedwards1211 commented on #62
You're right, I'm being too negative, it would only be a problem for large datasets or something that's called constantly in a busy webserver.

The closest experience I had to this was a validation library that would memoize my callback functions by source code, so variables I was accessing via the closure were never updating because it was always using an old instance of my function with old clos

[2020-06-10 02:09] leonardiwagner commented on #62
@jedwards1211 that suggestion is really great! I'm planning to do a `v2` and I'm gonna put that on the roadmap, thank you! :smile:

[2020-06-10 02:14] jedwards1211 commented on #62
Cool, glad I could propose something constructive out of this :)

[2020-11-06 10:26] ashleydavis opened #65 "Issue with example on the web page"
Thanks for this library, it's really nice.

If found an issue with an example on the web page.

If you run this code, nothing matches, it returns undefined:

[code]

I would have expected the 3rd case to match.

Did the library change and the docs haven't been updated?

[2020-11-10 14:11] leonardiwagner commented on #65
@ashleydavis only if you pass `1` as argument it would match the last case. `[1]` is an array of `1` .

Please let me know if that answered your question.

[2020-11-15 10:11] ashleydavis commented on #65
The example above (from your README) implies that the last case will be matched and the value returned will be `'Will match here, tail = []'`.

This doesn't happen.

Instead, it returns `undefined`.

So either your example is wrong or a bug has been introduced in the library which breaks this example.

[2021-02-15 19:07] bas080 commented on #62
Valid critique. It is a hack. I do think it is a neat hack.

It would be possible to flip the function arguments. This has two benefits I can think of:

1. When the pattern matching function is defined the patterns can be parsed and stored in the function scope (if necessary). The returned function can reuse these parsed patterns.
2. It allows one to define a function with pattern matching without

[2021-09-08 14:42] EduardoAraujoB opened #69 "Type definitions?"
So, I'm about to start using this lib in a project, but I figured out that there is no type declaration file for the project or a `@types/z` package

[2021-09-08 15:27] EduardoAraujoB commented on #69
I also wrote a simple type definition in my project
[code]
those types are obiviously  wrong and there is some problems, one of them is that I need to keep repeating the optional matcher parameter in the type definition file when pattern matching have more matchers than the defined (4 in this case)

[2022-03-02 15:52] nythrox commented on #69
This works for values

[code]